<ul class="list-group" >
    <li class="list-group-item d-flex justify-content-between align-items-center active" style="font-weight: bold;">
      LÀM BẢNG HIỆU
    </li>
    <ng-container *ngFor="let post of banghieus.posts" >
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a class="" style="width: 100%;" target="_top"
      routerLink="/postDetail/{{post.slug}}" 
      routerLinkActive=""
      ariaCurrentWhenActive="page">{{post.titte}}</a>
        <span class="badge bg-secondary badge-pill">{{post.view}}</span>
    </li>
  </ng-container>
  </ul>
