.limitText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;     /* fallback */
    max-height: 50px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 body{
        font-family: 'Roboto', sans-serif;
 }
 h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
 }
 .my-lst > :hover {
    /*  transform: scale(1.04);*/
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }