
<ul class="list-group mt-3" >
  <li class="list-group-item d-flex justify-content-between align-items-center active" style="font-weight: bold;">
    CÔNG TRÌNH HOÀN THIỆN
  </li>
  <ng-container *ngFor="let post of postAll  | slice:0:10" >
  <li class="list-group-item d-flex justify-content-between align-items-center ">
    <a class="tagText" style="width: 100%" target="_top"
    routerLink="/postDetail/{{post.slug}}"
    routerLinkActive=""
    ariaCurrentWhenActive="page" >{{post.titte}}</a>
      <span class="badge bg-secondary badge-pill ">{{post.view}}</span>
  </li>
</ng-container>
</ul>

