@import "~bootstrap/dist/css/bootstrap.css";
li{list-style-type: none;}
a{text-decoration: none;}
.pageActivate{
    color: yellow;
}

.slick-slider {
    width: 100%;
    margin: auto;
    background: rgb(55, 200, 14);
    padding: 20px;
  }
.prev,.next
    {
        position: absolute;
        display: block;
        line-height: 0px;
        cursor: pointer;
        background: none;
        color: yellow;
        top: 50%;
        transform: translate(0, -50%);
        
        border: 1px;
        border-radius: 99px;
        outline: none;
        z-index: 100;
        padding: 80px 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}
.prev{left: 5%;}
.next{right: 5%;}
.none{display: none;}
