<app-navbar></app-navbar>
<div style="background-color: rgb(55, 200, 14);">
  <ngx-slick-carousel class="container carousel" 
  #slickModal="slick-carousel" 
  [config]="slideConfig" >
  
  <div ngxSlickItem *ngFor="let post of postAll | slice:0:4" class="slide" >
   
     <div class="container d-flex justify-content-center">
        <div class="shadow bg-white" style="margin-bottom: 25px; width: 100%;">
        <img src="{{post.image}}" class="" style="height:300px" alt="...">
        <h5 class="card-title p-2">{{post.titte}}</h5>
        <li class="text-center bg-primary-subtle p-2" >
            <a routerLink="/postDetail/{{post.slug}}"  routerLinkActive="active" ariaCurrentWhenActive="page">view</a>
        </li>
        </div>
    </div>
  </div>
  </ngx-slick-carousel> 
</div>   